{% extends "layout.html.j2" %} 
{% block title %}  ISGS RRAS
{% endblock %}

{% block css %}  
    <link href="{{ url_for('static', filename='Css/isgsRrasIndex.css') }}" rel="stylesheet" type="text/css" />
{% endblock %} 
{% block content %}
    <div class="row mt-5 justify-content-md-center">
        <div class="col-md-2">
            <label for="targetDate"> Date</label>
            <input type="date" name="targetDate" id="targetDate" />
        </div>
        <div class="col-md-3">
            <label for="periodicity">Page Refresh Periodicity</label>
            <input type="number" name="periodicity" id="periodicity" min="5" value="5" />
        </div>       
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-lg" id="submitBtn">
                Submit
            </button>
        </div>
        <div class="col-md-2">
            <a href="{{url_for('index')}}" class="btn btn-success btn-lg">Back To Home</a>
        </div>
    </div>
    <div id="errorDiv"></div>
     <div id="lastUpdatedDiv"></div>
    <div id="plotDiv"></div>

{% endblock %}
{%block scripts%}
    <script src="{{ url_for('static', filename='dist/isgsRras.js') }}"></script>
{% endblock %}